# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Python egg metadata
*.egg-info/
.eggs/

# Database files
*.db
*.sqlite3

# Uploaded files
app/uploads/

# Test cache
.pytest_cache/

# VSCode and IDE settings
.vscode/
.idea/

# Environment variables
.env